a.back {
    position: absolute;
    width: 150px;
    height: 27px;
    outline: none;
    top: 2px;
    right: 0px;
}

.reference {
    margin: 20px auto;
    width: 600px;
}

.reference p a {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    text-decoration: none;
    font-size: 10px;
}

.reference p a:hover {
    color: #333;
}