
.topo {
    overflow: hidden;
    position: relative;
    height: 100px;
    margin: 0;
}

.topo .reduzido {
    position: absolute;
    clip: rect(0px, auto, auto, 0px);
    top: 200px;
}