html, body {
    background-color: transparent;
}

html {
    background-color: rgba(255, 228, 192, 0.63);
}

.content {
    background-color: #fff;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    margin-bottom: 60px;
}

.content .inner {
    padding: 35px 15px 20px;
}

footer {
    background-color: rgb(242, 221, 189);
    min-width: 940px;
    padding: 20px 0;
    text-shadow: 0 1px 0 white;
    border-top: 1px solid rgb(224, 204, 175);
    -webkit-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .025);
    -moz-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .025);
    width: 100%
}

fieldset {
    background: whiteSmoke;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 17px 20px 18px 0px;
    border-top: 1px solid #DDD;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;

}

.menuButton {
    display: block;
    line-height: 36px;
    font-size: 16px;
}

.menuButton a {
    font-weight: bold;
    color: #6b6a6a;
    text-shadow: 0px 1px #FFFFFF, #FFFFFF 0px 2px;
}

.menuButton a:hover {
    color: #0069D6;;
    text-decoration: none;
}

.step {
    margin-left: 3px;
    margin-right: 3px;
}

.currentStep {
    margin-left: 3px;
    margin-right: 3px;
}

.row {
    padding: 20px;
}

.container {
    width: 940px
}

.span4 {
    width: 260px;
}

.span8 {
    width: 610px;
}

.span4 h2 {
    font-size: 20px;
    letter-spacing: -0.03em;
    line-height: 28px;
}

.span4 p {
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    margin-bottom: 7px;
    font-family: inherit;
}

body {
    font-size: 12px;
    line-height: 15px;
    color: #454545;
    font-family: "Open Sans", Verdana, sans-serif;
    font-weight: 300;
}

.span3 {
    width: 210px;
}

.span3 p {
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    margin-bottom: 7px;
    font-family: inherit;
}

#contact-us-floating > li.facebook > div, #contact-us-floating > li.twitter > div, #contact-us-floating > li.email > div, #contact-us-floating > li.phone > div {
    background: url('../images/icons-s4e834e2591.png') no-repeat;
}

#content-head{
    background-color: #564d40;
    background-image: url('../images/noise.png');
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}


#contact-us-floating {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    margin-top: 20px !important;
    position: absolute;
    left: -30px;
    top: 0;
    text-align: left;
    z-index: 50;
}
#contact-us-floating > li {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
@media all and (min-width: 1080px) {
    #contact-us-floating {
        left: -60px;
    }
}
#contact-us-floating > li {
    margin-bottom: 10px !important;
    position: relative;
    display: block;
    height: 38px;
    width: 38px;
}
#contact-us-floating > li:before {
    content: '';
    display: block;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    margin: 1px;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 10;
}
#contact-us-floating > li.facebook:hover:before {
    -webkit-box-shadow: 0 1px 20px #275ab0;
    -moz-box-shadow: 0 1px 20px #275ab0;
    box-shadow: 0 1px 20px #275ab0;
}
#contact-us-floating > li.facebook > div {
    background-position: 0 -381px;
}
#contact-us-floating > li.twitter:hover:before {
    -webkit-box-shadow: 0 1px 20px #31b8d8;
    -moz-box-shadow: 0 1px 20px #31b8d8;
    box-shadow: 0 1px 20px #31b8d8;
}
#contact-us-floating > li.twitter > div {
    background-position: 0 -285px;
}
#contact-us-floating > li.email:hover:before {
    -webkit-box-shadow: 0 1px 20px #e5b52f;
    -moz-box-shadow: 0 1px 20px #e5b52f;
    box-shadow: 0 1px 20px #e5b52f;
}
#contact-us-floating > li.email > div {
    background-position: 0 -230px;
    height: 38px;
    width: 38px;
}
#contact-us-floating > li.phone:hover:before {
    -webkit-box-shadow: 0 1px 20px #94be36;
    -moz-box-shadow: 0 1px 20px #94be36;
    box-shadow: 0 1px 20px #94be36;
}
#contact-us-floating > li.phone > div {
    background-position: 0 -333px;
}
#contact-us-floating > li > a {
    display: block;
    z-index: 60;
    position: relative;
    height: 38px;
    width: 38px;
}
#contact-us-floating > li .box {
    white-space: nowrap;
}
#contact-us-floating > li.facebook > div:hover, #contact-us-floating > li.twitter > div:hover {
    width: 200px;
}
#contact-us-floating > li.facebook .box, #contact-us-floating > li.twitter .box {
    top: 7px;
}
#contact-us-floating > li.facebook .box:before, #contact-us-floating > li.twitter .box:before {
    top: 4px;
}
#contact-us-floating > li.email > div {
    top: -7px;
    height: 55px;
}
#contact-us-floating > li.email > div:hover {
    width: 252px;
}
#contact-us-floating > li.email .box {
    top: 1px;
}
#contact-us-floating > li.email .box:before {
    top: 19px;
}
#contact-us-floating > li.phone > div {
    height: 40px;
}
#contact-us-floating > li.phone > div:hover {
    width: 252px;
}
#contact-us-floating > li.phone .box {
    top: 1px;
}
#contact-us-floating > li.phone .box:before {
    top: 12px;
}
#contact-us-floating > li > div {
    position: absolute;
    top: 0px;
    left: 0;
    height: 38px;
    width: 38px;
    overflow: hidden;
    z-index: 50;
    -webkit-transition-property: width, height;
    -moz-transition-property: width, height;
    -o-transition-property: width, height;
    transition-property: width, height;
    -webkit-transition-duration: 0.3s, 0.3s;
    -moz-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
}
#contact-us-floating > li > div:hover {
    padding-right: 2px;
}
#contact-us-floating > li > div > .box {
    margin-left: 50px;
    position: relative;
    display: inline-block;
    background: rgba(236, 235, 235, 0.9);
    -webkit-box-shadow: 1px 0 1px #ecebeb;
    -moz-box-shadow: 1px 0 1px #ecebeb;
    box-shadow: 1px 0 1px #ecebeb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
#contact-us-floating > li > div > .box, #contact-us-floating > li > div > .box a {
    color: #454545;
    text-decoration: none;
    font-size: 11px;
    padding: 4px;
}
#contact-us-floating > li > div > .box a:hover {
    text-decoration: underline;
}
#contact-us-floating > li > div .box:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    background-position: 0 -1655px;
    height: 14px;
    width: 7px;
    position: absolute;
    content: '';
    display: block;
}
#contact-us-floating > li > div.right-side, #contact-us-floating > li > div.right-side a {
    font-weight: 600;
}
#contact-us-floating > li > div.right-side .box:before {
    left: -7px;
}
#contact-us-floating > li > div.bottom-side .box {
    -webkit-box-shadow: 0 1px 1px #ecebeb;
    -moz-box-shadow: 0 1px 1px #ecebeb;
    box-shadow: 0 1px 1px #ecebeb;
}
#contact-us-floating > li > div.bottom-side .box:before {
    left: 10px;
    top: -7px;
    background-position: 0 -1709px;
    height: 7px;
    width: 14px;
}

.frontpage-section {
	display: inline-block;
	margin: 40px;
	margin-right: 0;
	position: relative;
	vertical-align: top;
	width: 420px;
}

#frontpage-content {
	padding: 0 !important;
}
#frontpage-content .content {
	margin: 0;
	padding: 0;
}

.wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: auto;
	position: relative;
	width: 937px;
}

.content-body {
	box-shadow: 0 -0.5em 2em rgba(0, 0, 0, 0.1);
	margin-bottom: 40px !important;
	padding: 30px !important;
	position: relative;
}
.content-body:after {
	border-top: 0.5em solid white;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	content: '';
	display: block;
	position: absolute;
	bottom: -0.4em;
	left: 50%;
	margin-left: -0.5em;
	z-index: 2;
}
.content-body > .content ul, .content-body > .content ol {
	margin-left: 1em;
}
.content-body > .content li {
	margin: 1em;
}
.content {
	background-color: rgba(255, 255, 255, 0.62);
	margin-right: 10px;
	position: relative;
}
.content .form-subtitle {
	color: #050505;
	font-size: 1.15em;
	font-weight: normal;
	margin: 1.5em 0 0.5em 0;
}
.content .form-subtitle:first-child {
	margin-top: 0;
}
.content h2 {
	margin: 1.25em 0 0.7em 0;
}
.content h2.bigger {
	font-size: 1.75em;
	font-weight: 400;
	margin: 0.8em 0 0.5em 0;
}
.content h2 .note {
	font-size: 65%;
}